<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mattrang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{246,246}</string>
                <key>textureRect</key>
                <string>{{464,215},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mattroi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,744}</string>
                <key>spriteSourceSize</key>
                <string>{743,744}</string>
                <key>textureRect</key>
                <string>{{0,642},{743,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saodiemvuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{374,0},{213,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saohoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,234}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{230,215},{234,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saokim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saomoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{0,215},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saothienvuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,180}</string>
                <key>spriteSourceSize</key>
                <string>{430,180}</string>
                <key>textureRect</key>
                <string>{{301,461},{430,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saotho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,181}</string>
                <key>spriteSourceSize</key>
                <string>{301,181}</string>
                <key>textureRect</key>
                <string>{{0,461},{301,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saothuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{587,0},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>traidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{166,0},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hemattroi.png</string>
            <key>size</key>
            <string>{802,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c274ad04b0bb21097348cbb30f13ed:f6a1363eb6848630425ae31eef48a45e:b36ce261b5895edc4d51c3fae7f3593c$</string>
            <key>textureFileName</key>
            <string>hemattroi.png</string>
        </dict>
    </dict>
</plist>
